/*-------------   Color Variable  --------------*/

//Colors
$primary: #297DF9 !default;
$white: #ffffff;
$black: #16161a;
$gray: #f7f7fd;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

//Theme color
$theme-color: #fa8f77;
$theme-color2: #1f2b7b;
$theme-color3: #f27420;
$theme-color4: #ff3500;

// btn and Section color
$btn_bg: #fa8f77;

// Heading color
$heading-color: #140c40;
$heading_color2: #080808;

// Body font color
$font_color1: #646d77;
$border_color: #fdcb9e;

// Body Font
$body-text-color: #646d77;
$hr-border-color: #eceff8;

// Section Bg
$section_bg1: #454545;

$gray-color: #bebebe;
$gray-color-2: #bdbdbd;

// bg
$brand-bg: #f1f4fa;
$testimonial-bg: #f9fafc;